html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

ul,
p,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.search-form input,
button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -10px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-card {
  position: relative;
  width: calc((100% - 80px) / 4);
  margin: 10px;
  height: 250px;
}

.stats {
  position: absolute;
  display: flex;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.stats-item {
  color: white;
  text-align: center;
}

.stats-item:not(:last-child) {
  margin-right: 10px;
}

.btn {
  cursor: pointer;
  font-weight: bold;
}
